@media (max-width: 1200px) {
    /* body{
        background-color: cadetblue;
    } */

    /* .video-background{
        display: none;
    } */

    main{
        flex-wrap: wrap;
    }

    main .informacoes .img-title{
        max-width: 25%;
    }

    main .informacoes p{
        font-size: 90%;
    }

    main .botao-trailer{
        max-width: 50%;
    }
}

@media(max-width: 500px){
    body{
        overflow: hidden;
    }

    header{
        /* background-color: blue; */
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main .informacoes{
        gap: 12px;
        padding: 20px;
        margin-bottom: 120px;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main .informacoes .img-title{
        max-width: 35%;
    }

    main .botao-trailer{
        max-width: 100%;
        max-height: 5%;
    }

    .modal .fechar-modal{
        width: 25px;
        line-height: 30px;
    }

    .modal #video{
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px){
    .modal #video{
        width: 250px;
        height: 140px;
    }
}